@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700;900');

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    color: white;
}

a {
    color: #5865F2;
}

body {
    width: 300px;
    margin: 0 auto;
    background: #151522;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

/* Flexbox */
#header, #randomWeapons, #footer {
    flex: 1 1 auto;
}

/* Header */

#header {
    text-align: left;
    margin-top: 40px;
}

#header h1 {
    font-weight: 900;
    font-size: 28px;
    letter-spacing: -1px;
}

#header img {
    width: 48px;
    height: 48px;
}

#header div {
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

/* randomWeapons */

#randomWeapons .weapon {
    border: 2px solid transparent;
    border-radius: 12px 12px 0 0;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    background: #272639;

    display: flex;
    justify-content: space-between;
}

#randomWeapons .weapon:last-child {
    border-radius: 0 0 12px 12px;
    margin-top: 2px;
}

#randomWeapons .weapon span:first-child {
    width: 100px;
    color: #5865F2;
}

#randomWeapons .weapon span {
    text-align: left;
    padding: 0;
    width: 100%;
}

#randomWeapons .weapon span:last-child {
    text-align: right;
    width: 100px;
}

#randomWeapons .weapon label {
    text-align: right;
    padding: 4px 10px;
    background: #3C3B4C;
    border-radius: 12px;
    font-size: 12px;
}

/* bottomSection */

/*
#footer {
    flex: 0;
    margin-bottom: 60px;
}
*/

#footer a {
    background-color: #5865F2;
    border: 0;
    text-transform: uppercase;
    padding: 20px 60px;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}

#footer a:hover {
    background-color: #272639;
}

#footer a:active {
    background-color: #272639;
}

/* Mobile */

@media only screen and (max-width: 480px) {
    body {
        width: auto;
        padding: 0 20px;
    }

    /*#footer {
        margin-bottom: 0;
    }*/
}